# Dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Built files
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Editor or IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs and debugging
*.log
logs
*.json.dump
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS or IDE specific files
.DS_Store
Thumbs.db
